<ion-card-content>
  <ion-label class="modal-title">존스노우</ion-label>
  <ion-row class="margin-top-bot-10">
    <ion-icon name="location-outline" class="modal-icon"></ion-icon>
    <ion-label>주소</ion-label>
  </ion-row>
  <ion-label>서울 프놈펜 거리 11 홈 79</ion-label>
  <ion-row class="margin-top-bot-10">
    <ion-icon name="phone-portrait-outline" class="modal-icon"></ion-icon>
    <ion-label>전화번호</ion-label>
  </ion-row>
  <ion-label>069-666-999</ion-label>
</ion-card-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="dismiss()"  expand="block" fill="clear">
      닫기
    </ion-button>
  </ion-toolbar>
</ion-footer>