<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-button
        [routerLink]="['/home/retailer']"
        expand="block"
        fill="clear"
        shape="round"
      >
        <ion-icon
          slot="icon-only"
          class="arow-back"
          name="arrow-back-outline"
        ></ion-icon>
      </ion-button>
      <ion-title>소매 편집</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let retailer of data; let i = index">
    <ion-label>{{retailer.retailer_name}} /
      <ion-text *ngFor="let depo of retailer.depositors" class="textColor">{{depo.name}}</ion-text> 
    </ion-label>
    <ion-label hidden>{{retailer._id}}</ion-label>
    <ion-checkbox color="primary" (click)="openModal(i)" [(ngModel)]="checked[i]" slot="start"></ion-checkbox>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="cus-round"
      (click)="presentAlertConfirm()"
      color="danger"
      expand="block"
      fill="outline"
      disabled={{isCheck}}
    >
      편집하다
    </ion-button>
  </ion-toolbar>
</ion-footer>
