.purc-label{
    // padding: 30px 15px 15px 25px;
    width: 62px;
    height: 18px;
    font-size: 12px;
    letter-spacing: -0.24px;
    margin-top: 25px;
    margin-left: 9px;
    color: gray;
   
}
.dateOfChange{
    padding: 15px 15px 15px 25px;
    color: gray;
}
.date{
    margin: 3px 0 0 10px;
}
.detail{
    padding: 0px 15px 15px 25px;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 20px;
    width: 312px;
    height: 40px;
}
.note{
    color:orangered;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 20px;
}
.cus-round{
    padding: 0 10px;
    height: 48px;
    --border-radius: 10px;  
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
}
.purc-label_{
    color: blue;
    margin-top: 16px;
    width: 328px;
    height: 27px;
    font-size: 18px;
    letter-spacing: -0.36px;
    font-weight: bold;

}
.size{
    color: gray;
    font-size: 14px;
    width: 13px;
    height: 21px;
    letter-spacing: -0.28px;

}
