.purc-label{
    padding: 30px 15px 15px 25px;
}
.dateOfChange{
    padding: 15px 15px 15px 25px;
    color: gray;
}
.date{
    margin: 3px 0 0 10px;
}
.detail{
    padding: 0px 15px 15px 25px;
}
.note{
    color:orangered;
}
.cus-round{
    height: 50px;
    --border-radius: 10px;
    margin: 0 15px 25px 15px;
    margin-top: 35em;
}