.font_size {
  font-size: 12px;
}
.flex_none {
  flex: none;
}
[text_color] {
  color: rgb(72, 72, 241);
}
[text_underline] {
  text-decoration: underline;
}
.btn_style{
  float: right;
}
.icn_style{
  margin-right: -17px;
}

