.arow-back{
    font-size: 25px;
    font-weight: bold;
}
.font_size {
    font-size: 12px;
  }
  .flex_none {
    flex: none;
  }
  [text_color] {
    color: rgb(72, 72, 241);
  }
  [text_underline] {
    text-decoration: underline;
  }
  ion-button[btn_width]{
    margin-left: -28px;
  }
   