
.style-size{
    width: 100%;
     margin-top: 390px;
     
}
.Ja{
    margin-top: 25px;
    width: 328px;
    height: 27px;
    color: #2e50cb;
    font-size: 18px;
    letter-spacing: -0.36px;
    font-weight: bold;
    margin-left: 15px;

}
ion-text[start]{
    margin-right: 155px;
    font-size: 16px;
    width: 95px;
    height: 24px;
    letter-spacing: -0.32px;
}

ion-text[start1]{
    margin-right: 87px;
    font-size: 16px;
}
.btn{
    // height: 56px;
    // margin: 15px 15px 15px 15px;
    // --border-radius: 8px;

    padding: 0 10px;
  height: 48px;
  left: 0;
  bottom: 15px;
  width: 100%;
}
.y{
    width: 36%;
    height: 45px;
    margin-left: 117px;
    margin-top: 100%;
}
span.txt_hide {
    visibility: hidden;
}
.style_txt{
    width: 70px;
    height: 21px;
    color: black;
    font-size: 14px;
    letter-spacing: -0.28px;
    margin-left: 15px;
}
.size_icon{
    width: 24px;
    height: 24px;
    font-size: 16px;
}
.size{
    width: 86.9px;
    height: 40px;
    font-size: 16px;
    letter-spacing: -0.28px;
    color: aliceblue;
    margin-top: 100%;
}

.ion-float-left{
    width: 24px;
    height: 24px;
    font-size: 16px;
    position: absolute;
    right: 5px;
   
}

.ion-button{
    border: 1px solid #888;
}

.btn-row{
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
}