.top{
    margin-top: 50px;
}
.Ja{
    margin-top: 25px;
    width: 328px;
    height: 27px;
    color: #2e50cb;
    font-size: 18px;
    letter-spacing: -0.36px;
    font-weight: bold;

}
ion-text[start]{
    margin-right: 155px;
    font-size: 16px;
    width: 95px;
    height: 24px;
    letter-spacing: -0.32px;
}

ion-text[start1]{
    margin-right: 87px;
    font-size: 16px;
}
.btn{
    width: 100%;
    height: 56px;
}
.y{
    width: 36%;
    height: 45px;
    margin-left: 117px;
}
span.txt_hide {
    visibility: hidden;
}
.style_txt{
    width: 70px;
    height: 21px;
    color: black;
    font-size: 14px;
    letter-spacing: -0.28px;
}
.size_icon{
    width: 24px;
    height: 24px;
    font-size: 16px;
}
.size{
    width: 86.9px;
    height: 40px;
    font-size: 16px;
    letter-spacing: -0.28px;
    color: aliceblue;
}
