ion-router-link[color__] {
  color: rgb(72, 72, 241);
  font-weight: bold;
  width: 192px;
  height: 27px;
  font-size: 18px;
  letter-spacing: -0.36px;
}

.arow-back {
  font-size: 25px;
  font-weight: bold;
}

.P__ {
  margin-top: 25px;
}

.underline {
  text-decoration: underline;
}

.note {
  color: orangered;
  font-size: 14px;
  width: 95px;
  height: 21px;
  letter-spacing: -0.28px;

}

.test {
  margin-top: 5px;
  font-size: 14px;
  width: 328px;
  letter-spacing: -0.28px;
  line-height: 20px;
}

.size_icon {
  width: 40px;
  height: 30px;
  font-size: 16px;
}

.txt {
  font-weight: bold;
  width: 73px;
  height: 40px;
  letter-spacing: -0.4sp;
  font-size: 20px;
}

.h6 {
  font-size: 14px;
  width: 328px;
  letter-spacing: -0.28px;
  line-height: 20px;
}

.size {
  width: 328px;
  letter-spacing: -0.28px;
  font-size: 14px;
  line-height: 20px;
  color: #544f4f;
}

.size-lable {
  font-size: 14px;
  width: 95px;
  height: 21px;
  letter-spacing: -0.28px;
}

.txb {
  width: 24px;
  height: 24px;
  font-size: 14px;

}

.btn {
  padding: 0 10px;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 15px;
  width: 100%;
}
