// .arow-back{
//     font-size: 25px;
//     font-weight: bold;
// }
.controler{
    width: 24px;
    height: 24px;
    font-size: 16px;

}
.txt{
    width: 139px;
    height: 40px;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: black;
    font-weight: bold;
}


.index_{
    letter-spacing: -0.32px;
    font-size: 16px;
    width: 44px;
    height: 24px;
}

.index{
    width: 24px;
    height: 24px;
    font-size: 16px;
   
}