.arow-back{
    font-size: 25px;
    font-weight: bold;
}
ion-title.info{
    font-size: 18px;
    font-weight:bold;
    color: rgb(72, 72, 241);
}
ion-label.info{
    font-size: 14px;
    color: rgb(72, 72, 241);
}
.btn{
    margin-top: 12px;
    height: 35px;
    width: 100px;
}